---
layout: default
section: programa
title: esLibre 2019 - Juan Julián Merelo - Programación Funcional en Perl6
---

<h1 class="mt-3 mb-3">Devroom 3: Perl* (15:00 - 15:50)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/merelo_juan_julian.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Juan Julián Merelo: "Programación Funcional en Perl6"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <a href="https://perl6.org/" target="_blank">Perl 6</a> es un lenguaje multiparadigma, lo que incluye, entre otras muchas cosas, <a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_funcional" target="_blank">programación funcional</a>. En ese
  sentido, es un lenguaje bastante completo. En esta charla hablaremos de diferentes <a href="https://es.wikipedia.org/wiki/Estructura_de_datos" target="_blank">estructuras de datos</a> y de control funcionales, y de
  cómo se implementan en Perl 6.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Perl 6 es un lenguaje diseñado para durar 100 años, y como tal incorpora una serie de características para que sea así. Desde el principio, se trabaja con funciones de primera clase, y se hace énfasis en darle un enfoque funcional. Esto, entre
  otras cosas, hace que la programación concurrente funcione mejor y que se puedan hacer cadenas de operaciones de forma fácil y con una sintaxis relativamente sencilla y directa.<br><br>
  En esta charla hablaremos de programación funcional en Perl 6, comparándolo con otros lenguajes funcionales (puros o no).
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  A quien tenga algo de conocimiento, o curiosidad, sobre Perl 6.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Juan Julián Merelo</strong>, profesor en la <a href="https://www.ugr.es/" target="_blank">Universidad de Granada</a>. He dado una versión de esta charla en <a href="https://www.eventbrite.es/e/entradas-ahambra-day-57993381766#"
    target="_blank">Lambda in the Alhambra (Aλhambra day)</a> y también hablado de Perl 6 en varias conferencias.<br><br>
  <a href="https://github.com/jj" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/JJ5" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/jjmerelo" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/juan-j-merelo-0815/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
