---
layout: default
section: programa
title: esLibre 2019 - Reynaldo Cordero - Haskell para hackers usando CodeWars
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (18:45 - 19:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/cordero_reynaldo.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Reynaldo Cordero: "Haskell para hackers usando CodeWars"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <a href="https://www.haskell.org/" target="_blank">Haskell</a> es el lenguaje que nació hace unos 30 años para servir de modelo y de lengua franca para todos los lenguajes funcionales, y que sigue creciendo y mejorando su ecosistema.<br><br>
  Haskell tiene fama de elegante, conciso, expresivo, divertido... y difícil de aprender. Gracias a <a href="https://www.codewars.com/collections/haskell-8" target="_blank">CodeWars</a>, plataforma web de katas de programación mantenida en gran
  medida por los propios usuarios, resolveremos algunas katas juntos, y tendrás una
  opinión de primera mano.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquiera interesado en los lenguajes de programación, de cualquier nivel, especialmente a los que les gusten los enfoques poco trillados.<br><br>
  Cualquiera que quiera valorar mejor las posibilidades de CodeWars.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Reynaldo Cordero</strong>
  <ul>
    <li>Analista/Programador</li>
    <li>Servicios informáticos de la <a href="https://www.uah.es/es/" target="_blank">Universidad de Alcalá</a></li>
    <li>Entusiasta de Haskell</li>
    <li>Co-organizador de <a href="https://twitter.com/haskellmad" target="_blank">Haskell-MAD</a></li>
    <li><a href="https://haskellnautas.slack.com/" target="_blank">Haskellnautas</a> (invitación en <a href="https://haskellnautas.herokuapp.com" target="_blank">https://haskellnautas.herokuapp.com</a>s)</li>
    <li>Charla y documento relacionado:
      <ul>
        <li><a href="https://www.meetup.com/es-ES/Haskell-MAD/events/249769977/" target="_blank">Domina Haskell con Katas de Codewars</a></li>
        <li><a href="https://haskellmad.github.io/haskellnautas/articulos/2018-05-31-haskell-con-katas-introduccion-a-codewars/" target="_blank">Haskell con Katas: Introducción a CodeWars</a></li>
      </ul>
    </li>
  </ul>
  <a href="https://github.com/naldoco" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/reynaldo.cordero" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/naldoco" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
