---
layout: default
section: programa
title: esLibre 2019 - Dawid Furman - ¿Por qué tipo de dato algebraico?
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (18:00 - 18:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/furman_dawid.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Dawid Furman: "¿Por qué tipos de dato algebraicos?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Cómo se puede utilizar operadores matemáticos básicos para evaluar una prueba de mis datos. Vamos a ver y contar un par de <a href="https://es.wikipedia.org/wiki/Tipo_de_dato_algebraico" target="_blank">ADT</a> en <a
    href="https://www.scala-lang.org/">Scala</a>, <a href="https://www.haskell.org/" target="_blank">Haskell</a> y ...
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  ADT (Algebraic Data Type) y álgebra con <a href="https://es.wikipedia.org/wiki/Isomorfismo" target="_blank">isomorfismo</a> de <a href="https://es.wikipedia.org/wiki/Correspondencia_de_Curry-Howard" target="_blank">Curry-Howard</a>, <a
    href="https://es.wikipedia.org/wiki/Philip_Wadler" target="_blank">Philip Wadler</a> (co-autor de <a href="https://en.wikipedia.org/wiki/Generics_in_Java" target="_blank">"Generic in Java"</a> y gran personaje dentro del mundo de la <a
    href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_funcional" target="_blank">programación funcional</a>).
  <ul>
    <li><a href="https://es.wikipedia.org/wiki/B%C3%BAsqueda_de_patrones" target="_blank">Búsqueda de patrones</a> sobre ADT</li>
    <li>Types <a href="https://en.wikipedia.org/wiki/Cardinality_(data_modeling)" target="_blank">Cardinalities</a></li>
    <li>Type <a href="https://en.wikipedia.org/wiki/Covariance_and_contravariance_(computer_science)" target="_blank">Variance</a> - en contexto de los <a href="https://es.wikipedia.org/wiki/Funtor" target="_blank">funtores</a> y sobre todo de los
      bifuntores y los profuntores</li>
    <li>Ejemplos en Scala, Haskell...</li>
    <li>Quizá un poco de Kinds y Type Projector...</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Todo el mundo, especialmente desarrolladores de software y/o cualquier persona interesada en la programación funcional.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://iot.rindus.de/~dawid/" target="_blank">Dawid Furman</a></strong>
  <ul>
    <li>Java and Scala developer</li>
    <li>Computers and human language passionate</li>
    <li>Co-organiser of <a href="https://twitter.com/malagascala" target="_blank">Málaga Scala Developers</a></li>
    <li>Enthusiast of the functional paradigm</li>
    <li>A guitar artist of SolYNaranjaS - a multinational music project from Málaga city, Costa del Sol</li>
    <li>80s music, motorcycles, and aguacate lover</li>
  </ul>
  <a href="https://github.com/dfurmans" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/dfurmans" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/dawid-f-5504a875/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
