---
layout: default
section: programa
title: esLibre 2019 - Pablo Baeyens - Algoritmos cuánticos en Quipper
---

<h1 class="mt-3 mb-3">Devroom 4: Informática y Matemáticas (11:00 - 11:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/baeyens_pablo.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Pablo Baeyens: "Algoritmos cuánticos en Quipper"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Se introducirán los aspectos básicos de la <a href="https://es.wikipedia.org/wiki/Computaci%C3%B3n_cu%C3%A1ntica" target="_blank">computación cuántica</a> y se mostrará cómo implementar algunos algoritmos clave en el lenguaje de <a
    href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_funcional" target="_blank">programación funcional</a> puro <a href="https://www.mathstat.dal.ca/~selinger/quipper/" target="_blank">Quipper</a>.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://mx-psi.github.io/" target="_blank">Pablo Baeyens</a></strong><br><br>
  <a href="https://github.com/mx-psi" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/mx_psi" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://mstdn.io/@mx_psi" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/pablo-baeyens/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  </ul>
</div>
