---
layout: default
section: programa
title: esLibre 2019 - LibreIM - Problemas de programación y de matemáticas
---

<h1 class="mt-3 mb-3">Devroom 4: Informática y Matemáticas (15:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/libreim.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">LibreIM: "Problemas de programación y de matemáticas"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Resolución de diferentes problemas de programación y matemáticas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://libreim.github.io/" target="_blank">LibreIM</a></strong><br><br>
  <a href="https://github.com/libreim" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/libreim_" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  </ul>
</div>
