---
layout: default
section: programa
title: esLibre 2019 - Daniel Izquierdo - Cambiemos la cultura empresarial de este país
---

<h1 class="mt-3 mb-3">Track 2: Social (15:30 - 16:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/izquierdo_daniel.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Daniel Izquierdo: "Cambiemos la cultura empresarial de este país"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  ¿Qué ocurriría si lleváramos la colaboración, comunicación, concepto de comunidad, transparencia y cultura de desarrollo de las comunidades de software libre a un banco, aseguradora, u otros entornos industriales?<br><br>
  ¿Cuáles son los problemas típicos a los que se enfrentan y cómo los solucionan?<br><br>
  Esto es <a href="https://innersourcecommons.org/" target="_blank">InnerSource</a>. ¡Y lo están intentando!
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  InnerSource consiste en usar las prácticas de desarrollo de las comunidades de software libre y aplicar las mismas internamente dentro de los confines de las empresas. Esto está claro que no es software libre, pero es un paso previo para
  ello.<br><br>
  Esta charla tratará de introducir los conceptos básicos de lo que es y no es InnerSource, así como los beneficios de su aplicación. Y cómo hay grandes empresas que entienden que trabajar de esta manera beneficia a su negocio.<br><br>
  Todo este movimiento ha comenzado más formalmente en los últimos años con la creación de un foro de trabajo, InnerSource Commons, donde las diferentes empresas comparten su problemática y donde se va construyendo poco a poco un cuerpo de
  conocimiento que ayuden a otros. Todos los materiales generados se están publicando en <a href="https://github.com/innersourcecommons" target="_blank">https://github.com/innersourcecommons</a>.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquier tipo de público, desde desarrolladores a más alto nivel.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://about.me/dizquierdo" target="_blank">Daniel Izquierdo Cortázar</a></strong>:
  <ul>
    <li>Miembro de <a href="https://chaoss.community/" target="_blank">CHAOSS (Community Health Analytics for Open Source Software)</a>, un proyecto de <a href="https://www.linuxfoundation.org/" target="_blank">The Linux Foundation</a></li>
    <li>Miembro de <a href="https://innersourcecommons.org/" target="_blank">InnerSource Commons</a></li>
    <li>Fundador de <a href="https://bitergia.com/" target="_blank">Bitergia</a></li>
  </ul>
  <a href="https://github.com/dicortazar" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/dicortazar" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/dizquierdo" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/dicortazar/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
