---
layout: default
section: programa
title: esLibre 2019 - José Manrique López de la Fuente - ¿Ha fracasado el Software Libre en España?
---

<h1 class="mt-3 mb-3">Track 2: Social (16:00 - 16:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/lopez_jose_manrique.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">José Manrique López de la Fuente: "¿Ha fracasado el Software Libre en España?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Cuando vemos a <a href="https://www.microsoft.com/es-es" target="_blank">Microsoft</a> mostrando su compromiso con el open source, o a organizaciones como <a href="https://www.linuxfoundation.org/" target="_blank">The Linux Foundation</a> o <a
    href="https://www.openstack.org/foundation/" target="_blank">The OpenStack Foundation</a> gestionando presupuestos millonarios, con el soporte y la ayuda de grandes corporaciones, me pregunto, ¿por qué
  no tenemos algo así en España? ¿Realmente podemos decir que hay un movimiento "común" en favor del Software Libre en España después de 20 años?
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  El open source y el software libre son una realidad para las empresas. Cada vez vemos más empresas apoyando y contribuyendo a proyectos open source. Parte de esa participación se manifiesta en la creación y soporte de comunidades y organizaciones
  que fomentan un ecosistema tecnológico común. Algunos ejemplos son fundaciones Open Source como <a href="https://www.linuxfoundation.org/" target="_blank">The Linux Foundation</a>, <a href="https://www.cncf.io/" target="_blank">Cloud Native
    Computing Foundation</a>, <a href="https://www.openstack.org/foundation/" target="_blank">The OpenStack Foundation</a>, etc. Incluso en Europa tenemos el consorcio <a href="https://www.ow2.org/" target="
  ">OW2</a>, e intentos como <a href="https://www.fiware.org/foundation/" target="_blank">FIWARE
    Foundation</a>, pero... ¿y en España?<br><br>
  Durante la charla, se ofrecerá una visión crítica del estado del software libre y el open source en España desde el punto de vista empresarial. Se plantearán algunas ideas para la discusión, y dejando claro que toda opinión está basada en la
  experiencia, y quizás algún dato, por parte del ponente, y por tanto, todo está abierto al debate.<br><br>
  Y es que el objetivo de la charla es generar debate en torno a la idea de generar un modelo de apoyo al ecosistema de empresas nacionales contribuyendo al software libre y el open source.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  La charla va a dirigida a cualquier persona interesada en la innovación tecnológica desde entornos colaborativos, personas relacionadas con el asociacionismo empresarial, clusters tecnológicos, etc. Y por supuesto gestores de empresas, y personas
  apasionadas por el software libre en general.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="http://www.jsmanrique.es/" target="_blank">José Manrique López de la Fuente</a></strong>, es CEO y socio de <a href="https://bitergia.com/" target="_blank">Bitergia</a> y un apasionado del software libre y las comunidades de desarrollo.
  Es ingeniero industrial, con experiencia en investigación y desarrollo en la <a href="https://www.fundacionctic.org/" target="_blank">Fundación Centro Tecnológico de la Información y la Comunicación (CTIC)</a>, grupos de trabajo del <a
    href="https://www.w3c.es/" target="_blank">W3C</a>, Ándago Engineering y <a href="http://www.pchalliance.org/" target="_blank">Continua Health Alliance</a>. Ex-director ejecutivo de la <a href="http://www.asolif.es/" target="_blank">Federación
    Nacional de Empresas de Software Libre (ASOLIF)</a> y ex-consultor experto
  del <a href="http://www.cenatic.es" target="_blank">Centro Nacional de Referencia de Código Abierto (CENATIC)</a>. Involucrado en varias comunidades relacionadas con el software libre, libre y de código abierto. Cuando no está on-line, le encanta
  pasar tiempo con su familia y hacer surf.<br><br>
  <a href="https://github.com/jsmanrique" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/jsmanrique" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/jsmanrique" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/jsmanrique/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
